<nav class="fixed-nav">
  <a href="/" class="fixed-nav__item">Home</a>
  <a href="/" class="fixed-nav__item" id="performerLink">Perfomers</a>
  <a href="/" class="fixed-nav__item" id="eventLink">Events</a>
</nav>