 <nav>
  <a href="#" id='back' class="hide">
    <i class="fa fa-close"></i>
  </a>
</nav>
 <div class="spacing"></div>
   <div class="full">
          <div class="large-12 columns">
            <div class="large-4 columns">
              <div class="contact-details wow slideInUp">
                <h3>Address</h3>
                <p class="big-text">
                  120 K St, Second Floor<br>
                  Sacramento<br>
                  CA 95814<br>
                </p>
                <div class="two spacing"></div>
                <p>
                  <a class="button boxed black google-map-button" target="_blank" href="https://www.google.com/maps/dir/Current+Location/120+K+Street+Sacramento+CA+95814"><i class="icon-basic-geolocalize-01"></i>Open in Google Maps</a>
                </p>
                <div class="four spacing"></div>
              </div>
            </div>
            <div class="large-4 columns">
              <div class="contact-details wow slideInUp">
                <h3>Contact</h3>
                <p class="big-text"> <a href="tel:916.921.9278">916.921.9278</a></p>
                <p class="big-text">
                  <a href="mailto:business@aoko.com" title="business email">business@aoko.com</a>
                </p>
                <p class="big-text">
                  <a href="mailto:jobs@aoko.com" title="jobs email">jobs@aoko.com</a>
                </p>
                <div class="spacing"></div>
              </div>
            </div>
            <div class="large-4 columns">
              <div class="contact-details wow slideInUp">
                <h3>Follow us</h3>
                <ul class="socials">
                  <li><a href="#"><i class='fa fa-twitter'></i></a></li>
                  <li><a href="#"><i class='fa fa-facebook'></i></a></li>
                  <li><a href="#"><i class='fa fa-linkedin'></i></a></li>
                  <li><a href="#"><i class='fa fa-instagram'></i></a></li>
                  <li><a href="#"><i class='fa fa-dribbble'></i></a></li>
                  <li><a href="#"><i class='fa fa-youtube'></i></a></li>
                </ul>
              </div>
            </div>
            <div class="circle-4"></div>
            <div class="triangle-2"></div>
          </div>
        </div>