@import 'variables/*';

#back:hover {
  transform: rotate(90deg);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.performers {
  overflow: hidden;

  .columns {
    padding: 0;

    .item {
      border: 0;

      .performers__wrapper {
        position: absolute;
        left: 38%;
        top: 82%;
        right: 0;
        width: 100%;
      }

      .performers__name {
        font-size: 24px;
      }

      &::before {
        content: none,
      }
    }

    &:last-child:not(:first-child) {
      float: left;
    }
  }
}


.events {
  border: 0;
  overflow: auto;

  .columns {
    padding: 0;
  }

  .columns__past {
    padding: 0;

    .event {
      height: 200px;
    }
    
    &:last-child:not(:first-child) {
      float: left;
    }
  }
}

.event {

  &.post {
    border: 0;
    display: block;
    padding: 20px;

    .date {
      font-size: 18px;
    }

    .info-others span {
      font-size: 14px;
    }
  }

  &__wrapper {
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__past-title {
    clear: both;
    padding: 50px 20px;
    border-top: 1px solid #ddd;
  }
}

.logo {
  // z-index: 0;
}

.back-to-nav {
  color: #000;
  font-size: 14px;
  font-family: montserrat;
  font-weight: bold;
  top: 40px;
  position: absolute;
  right: 35px;
  list-style-type: none;
  z-index: 2;

  li {
    display: inline;
    padding: 5px;
  }
}

//Quill

.ql-size-large {
  font-size: 24px;
  line-height: 1.9em;
}